<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle directivo</title>
</head>
<body>
    <h1>
        {{directivo.id}}
        {{directivo.nombre}}
        {{directivo.apellido}}
        {{directivo.apellido}}
        {{directivo.email}}
        {{directivo.domicilio}}
        {{directivo.escuela}}
    </h1>
    <a href="{% url 'indexDirectivos' %}"> Regresar inicio</a>
</body>
</html>