<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle maestro</title>
</head>
<body>
    <h1>
        {{maestro.id}}
        {{maestro.nombre}}
        {{maestro.apellido}}
        {{maestro.apellido}}
        {{maestro.email}}
        {{maestro.domicilio}}
        {{maestro.escuela}}
    </h1>
    <a href="{% url 'indexMaestros' %}"> Regresar inicio</a>
</body>
</html>