<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tabla de directivos</h1>
    <div>
        <a href="nuevo_trabajador"> Agregar directivo</a>
        <table border="1">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>puesto</th>
                    <th>email</th>
                    <th>domicilio</th>
                    <th>escuela</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for d in directivos %}
                <tr>
                    <td>{{d.id}}</td>
                    <td>{{d.nombre}} {{d.apellido}}</td>
                    <td>{{d.puesto}}</td>
                    <td>{{d.email}}</td>
                    <td>{{d.domicilio}}</td>
                    <td>{{d.escuela}}</td>
                    <td><a href="detalle_directivo/{{d.id}}"> Ver Detalle</a></td>
                    <td><a href="editar_directivo/{{d.id}}"> Editar directivo</a></td>
                    <td><a href="eliminar_directivo/{{d.id}}"> Eliminar directivo</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="tabla_Maestro"> Tabla maestros </a>
        <br>
        <a href="/"> Tabla alumnos </a>
    </div>

</body>
</html>