<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tabla de alumnos</h1>
    <div>
        <a href="nuevo_alumno"> Agregar Alumnos</a>
        <table border="1">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>email</th>
                    <th>domicilio</th>
                    <th>escuela</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for a in alumnos %}
                <tr>
                    <td>{{a.id}}</td>
                    <td>{{a.nombre}} {{a.apellido}}</td>
                    <td>{{a.email}}</td>
                    <td>{{a.domicilio}}</td>
                    <td>{{a.escuela}}</td>
                    <td><a href="detalle_alumno/{{a.id}}"> Ver Detalle</a></td>
                    <td><a href="editar_alumno/{{a.id}}"> Editar alumno</a></td>
                    <td><a href="eliminar_alumno/{{a.id}}"> Eliminar alumno</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="tabla_Directivo"> Tabla directivos </a>
        <br>
        <a href="tabla_Maestro"> Tabla maestros </a>
    </div>

</body>
</html>