<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
</head>
<body>
    <h1>
        ID: {{direccion.id}}<br>
        Nombre de calle: {{direccion.calle}}<br>
        Numero: {{direccion.numero}}<br>
        ID de la persona: {{direccion.idpersona}}
    </h1>
    <a href="{{url_for('inicio')}}"> Regresar inicio</a>
    
</body>
</html>